
* {
	margin:0;
}



header {
	
	width:100%;
	height:150px;
	text-align:center;
	background-color:rgba(225,72,12,255);
	
}

header p {
	
	text-align:center;
	position:relative;
	top:20px;
	color:white;
	font-family:Tahoma;
	font-size:32px;
	
}

header canvas {
	position:relative;
	top:40px;
}

.ground {
	text-align:center;
}

#ground {
	margin: 40px auto 40px auto;
}

div.ground div {
	position:absolute;
	width:80px;
	height:80px;
	z-index:999;
	cursor:pointer;

}

div.ground canvas {
	
	z-index: 5;
	
}

#p2, #p5, #p8 {
	
	width:100px
	
	
}

#turna {
	
	font-family:Tahoma;
	font-size:30px;
	color:rgba(128,23,53,255);
	text-align:center;
		
}

#reload {
	width:100px;
	height:40px;
	background-color:rgba(225,72,12,255);
	color:white;
	font-size:20px;
	padding-top:15px;
	font-weight:bold;
	text-align:center;
	margin: 10px auto 30px auto;
	cursor:pointer;
}

.fade {
    animation: fade 1s infinite;
    -webkit-animation: fade 1s infinite;
}

@keyframes fade {
    0% { opacity: 1 }
    50% { opacity: .4 }
    100% { opacity: 1 }
}

@-webkit-keyframes fade {
    0% { opacity: 1 }
    50% { opacity: .4 }
    100% { opacity: 1 }
}

.author {
    text-align: center;
    font-family: tahoma;
    font-size: 12px;
    background-repeat:
}


